body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 10vh;
  box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

#logo-container img {
	margin-top: 20px;
	margin-left: 20px;
	height: 5%;
}

#pic-container {
	padding: 50px;
	margin-bottom: 10vh;
}

#form {
	margin: 35vh 10vh 10vh 10vh;
}

input {
	margin-top: 20px;
	border-radius: 5px;
	width: 90%;
	padding: 5px;
	border: 1px solid #099dfd;
	font-size: 1.25em;
}

#submit-button {
	background-color: #099dfd;
	color: white;
	border: none;
	border-radius: 8px;
	padding: 8px 16px 8px 16px;
	font-size: 1.25em;
	margin-top: 20px;
}

#right-text {
	color: black;
	font-size: 32px;
}

#left-text {
	color: white;
	font-size: 32px;
}

#left-pane {
	flex: 1;
	height: 100%;
	width: 45vw;
	padding: 20px;
	text-align: center;
	background-color: #099dfd;
}

#right-pane {
	display: flex;
	flex: 1;
	height: 100%;
	padding: 20px;
	background-color: #ffffff;
}